.editing-area {
    background-color: var(--accent-color);
    width: 60%;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-color: var(--accent-color);
    direction: rtl;
    padding-top: calc(2rem + var(--header-height));
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.editing-area > * {
    direction: ltr;
}

.editing-area h1 {
    margin: 0;
    text-align: center;
}

.hidden {
    display: none;
}

.toggle-expand {
    font-size: 3rem;
}

.expanded {
    transform: rotate(180deg);
}
