#root {
    --header-height: 80px
}

header {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    height: var(--header-height);
    background-color: var(--accent-color);
    color: var(--dark-font-color);
}