.preview-area {
    background-color: var(--background-color);
    min-width: 50%;
    flex-grow: 1;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 5rem;
}

.zoom-control {
    width: 50px;
    height: 50px;
    margin: 2rem;
    border-radius: 10px;
    font-size: 2rem;
}

.a4-sheet {
    height: 297mm;
    aspect-ratio: 210 / 297;
    background-color: white;
    box-shadow: 4px 7px 10px 2px rgba(0, 0, 0, 0.1);
    transform-origin: top;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 2rem;

}

p {
    margin: 0;
    font-weight: 300;
}

li h3 {
    margin-bottom: 0;
}

em {
    font-weight: 300;
    margin-right: 3rem;
}

.name {
    background-color: var(--accent-color);
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.name h1 {
    text-align: center;
    font-size: 40px;
}

.bio {
    
    
    grid-row-start: 2;
    grid-row-end: 3;
}

.bio-container {
    border: solid 2px var(--accent-color);
    width: 100%;
    padding: 1rem;
}

.edu {
    margin-top: 4rem;
}

li {
    list-style: none; 
    padding: 0; 
    margin: 0;
    position: relative;
    padding-left: 2rem;
}

li::before {
    content: ""; 
    position: absolute; 
    left: 0;  
    width: 2px; 
    height: 100%; 
    background-color: var(--accent-color); 
  }